.target {
  position: absolute;
  left-margin: -50px;
  top-margin: -50px;
  z-index: 10;
}

#container {
  position: relative; 
  top: 20%; 
  font-size: 130%;
}

#factors {
  position: relative;
  top: 200px;
}

#factorSlider {
  width: 40%;
  margin: 0px auto;
}

#dragDiv {
  position: absolute;
  font-size: 150%;
  color: #06c4f9;
}

#feedback {
  font-family: sans-serif;
  font-size: 150%;
  position: absolute;
  bottom: 0;
  color: #06c4f9;
}

#feedback .MathJax_Display {
  font-size: 50%;
}



body {
  background-color: black;
  color: white;
}