#container {
	margin: 0;
	padding: 0;
	width: 1024px;
	height: 748px;
	overflow: hidden;
	background: white;
}
#inputs_container {
	margin: 0;
	width: 1000px;
	height: 200px;
	border-bottom: solid 2px #000;
}

#graph_container {
	margin: 0;
	float: left;
	z-index: 1;
	width: 500px;
	height: 547px;
	top: 202px;
	color: red;
}

#whiteboard_container{
	margin: 0;
	width: 500px;
	height: 547px;
	top: 202px;
	margin-left: 500px;
	border-left: solid 2px #000;
	overflow: auto;

}