#container {
	position: relative;
	margin: 0;
	padding: 0;
	width: 924px;
	height: 748px;
	overflow: hidden;
	background: white;
}

#graph_container {
	position: absolute;
	z-index: 1;
	border-left: solid 2px #000;
	width: 500px;
	height: 530px;
	color: red;
	margin-top: 200px;
	margin-left:  500px;
}

#whiteboard_container{
	position: absolute;
	float:left;
	margin: 0;
	width: 1000px;
	height: 700px;
	overflow: auto;

}